# Don't track content of these folders
.vs/
STVrogue/.vs/
STVrogue/.vs/STVrogue/v16
MSUnitTests/bin/
MSUnitTests/obj/
packages/
STVrogue/bin/
STVrogue/obj/
STVrogue/STVrogue/bin/
STVrogue/STVrogue/obj/

# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
*.suo
*.storage.ide

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip